{% extends "app.html.twig" %}

{% block body %}
    {% include "website/navbar.html.twig" %}

    <main role="main">
        <div class="container-fluid homepage-poster py-5 px-0">
            <div class="homepage-poster-spacer"></div>
            <div class="container text-center my-5 px-0">
                {#<a href="{{ path("inscription") }}" class="btn btn-green btn-xl my-2 text-title">Participer
                    au
                    Festival</a>
                <p>Les inscriptions sont ouvertes<br/>jusqu'au <strong>5 juillet 2018</strong> compris</p> TODO Find another way#}
                <p class="lead">Les inscriptions sont désormais fermées.<br/>
                    Le festival se déroulera à Metz<br/>
                    le 24 et 25 septembre</p>
                <p>Pus d'informations juste en dessous</p>
                <a target="_blank" href="{{ path("registrationRules") }}" class="btn btn-yellow  my-2">
                    <span class="oi oi-data-transfer-download" title="Download" aria-hidden="true"></span>
                    Télécharger le règlement
                </a>
            </div>
            <div class="homepage-poster-spacer"></div>
        </div>
        <div class="container-fluid py-5 bg-light">
            <div class="container text-center">
                <h1 class="display-4 text-title">Festival du Film Étudiant de Metz</h1>
                <p class="lead">3<sup>ème</sup> Édition</p>
                <hr class="my-2"/>
                <p class="lead">Bonjour à Tous !</p>
                <p>La 3<sup>ème</sup> édition du Festival du Film Etudiant de Metz ouvre officiellement ses portes !</p>
                <p>Le <strong>lundi 24 septembre</strong> au théâtre <strong>Bernard-Marie Koltès</strong> à partir de
                    <strong>18h30</strong> et le <strong>mardi 25 septembre</strong> au cinéma <strong>le Klub</strong>
                    dès <strong>19h</strong>.Venez découvrir les courts-métrages des jeunes talents de Metz et voter
                    pour décerner les prix du public du meilleur film et de la meilleure interprétation.<br/>
                    L’entrée est <strong>gratuite</strong> pour tous (dans la limite des places disponibles) et un
                    apéritif sera servi lors de la remise des prix.
                    </p>
                <p>Nous sommes donc fiers de vous convier à cette dernière édition du festival,
                    que
                    vous soyez
                    participants ou spectateurs, soyez les bienvenus !</p>
                <a href="{{ path("schedule") }}" class="btn btn-green btn-lg my-2">Voir la programmation</a>
                <p class="mt-3">Le Festival du Film Étudiant de Metz a pour principaux objectifs de faire découvrir de jeunes talents
                    messins et de leur proposer un espace de diffusion artistique de qualité ; le tout dans une ambiance
                    conviviale. Ellipse souhaite, à travers cette 3<sup>ème</sup> édition, continuer à donner un
                    essor
                    et une
                    visibilité importante aux courts-métrages créatifs des étudiants.</p>

            </div>
        </div>

        <div class="container-fluid pt-5 bg-dark text-center text-light">
            <h1 class="display-4 text-title">Les Récompenses</h1>
            {#<p class="lead">Informations supplémentaires bientôt disponibles</p>#}
            <div class="row mt-5">
                <div class="col-sm-6 col-lg-3 pb-5">
                    <img class="img-fluid pb-3" src="{{ asset("svg/red-gold-medal.svg") }}" style="width: 50%">
                    <h2 class="text-title">Le Graoully d'Or</h2>
                    <p>Prix décerné par le Jury.</p>
                </div>
                <div class="col-sm-6 col-lg-3 pb-5">
                    <img class="img-fluid pb-3" src="{{ asset("svg/red-silver-medal.svg") }}" style="width: 50%">
                    <h2 class="text-title">Le Graoully d'Argent</h2>
                    <p>Prix décerné par le public.</p>
                </div>
                <div class="col-sm-6 col-lg-3  pb-5">
                    <img class="img-fluid pb-3" src="{{ asset("svg/green-gold-medal.svg") }}" style="width: 50%">
                    <h2 class="text-title">Le Graoully d'Or de l’interprétation</h2>
                    <p>Prix décerné par le Jury.</p>
                </div>
                <div class="col-sm-6 col-lg-3 pb-5">
                    <img class="img-fluid pb-3" src="{{ asset("svg/green-silver-medal.svg") }}" style="width: 50%">
                    <h2 class="text-title">Le Graoully d'Argent l’interprétation</h2>
                    <p>Prix décerné par le public.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid py-5 bg-yellow">
            <div class="container-fluid text-center">
                <h1 class="display-4 mb-5 text-title">Le Jury</h1>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <h2 class="text-title">Régis Caël</h2>
                        <p class="text-center">Réalisateur et producteur, directeur de ERE Production, président de l'Association des Producteurs de l'Audiovisuel du Grand-Est</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <h2 class="text-title">Véronique Combralier</h2>
                        <p class="text-center">Secrétaire du service formation de l’UFR Arts, Lettres et Langues, Université de Lorraine</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <h2 class="text-title">Dimitri Fayette</h2>
                        <p class="text-center">Exploitant de salles, directeur du cinéma Le Klub</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <h2 class="text-title">Alexiane Fousse</h2>
                        <p class="text-center">Secrétaire de l’association <em>The Bloggers Cinéma Club</em>, co-responsable de la programmation du Festival du Film Subversif de Metz</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <h2 class="text-title">Jean-Marc Leveratto</h2>
                        <p class="text-center">Professeur de sociologie des arts et de la culture à l’Université de Lorraine</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <h2 class="text-title">Maryse Plyer</h2>
                        <p class="text-center">Responsable du service formation de l’UFR Arts, Lettres et Langues, Université de Lorraine</p>
                    </div>
                    <div class="col-sm-6 col-lg-3 mx-auto">
                        <h2 class="text-title">Élodie Valkauskas</h2>
                        <p class="text-center">Doctorante en Études cinématographique à l’Université de Lorraine</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid py-5 bg-light">
            <div class="container text-center">
                <img src="{{ asset("img/ellipse_logo.png") }}" class="mx-auto d-block pb-2">
                {#<h1 class="display-4 text-title">Ellipse</h1>#}
                {#<p class="lead">Association loi de 1901</p>#}
                <hr class="my-2"/>
                <p>Ellipse, créée en 2011, est une association bénévole étudiante qui a pour but de faire partager
                    l’amour
                    du cinéma et de promouvoir le domaine audiovisuel sur le campus de Metz.</p>
                <p>Elle est composée de membres permanents et bénévoles qui lui permettent de vivre tout au long de
                    l’année
                    et de proposer différents événements tels que des projections et des blind-tests autour du
                    7<sup>ème</sup> art. L’association permet également aux étudiants de mettre en place leurs propres
                    projets
                    cinématographiques
                    en leur offrant des moyens techniques et un accompagnement.</p>
            </div>
        </div>

    </main>
    {% include "website/footer.html.twig" %}
    {% for message in app.flashes("flashMessageModal") %}
        <div class="modal fade" id="flashMessageModal" tabindex="-1" role="dialog" aria-labelledby="flashMessageModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Merci pour votre inscription, nous allons désormais étudier votre candidature. Nous vous
                            tiendrons informés par mail.</p>
                        <button type="button" class="btn btn-success mx-auto d-block" data-dismiss="modal">Fermer cette
                            fenêtre
                        </button>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
