{% extends "app.html.twig" %}

{% block body %}
    {% include "website/navbar.html.twig" %}

    <main role="main">
        <div class="container-fluid schedule-poster py-5 shadow">
            <h1 class="display-4 text-title text-center text-white my-5 d-none d-md-block">Programme</h1>
            <h1 class="display-4 text-title text-center text-white my-3 d-block d-md-none">Programme</h1>
        </div>
        <div class="container my-5">
            {% for screeningDay in screeningDays %}
                <h3 class="text-title mb-0 mt-5">{{ screeningDay.date|date("l d F Y") }}</h3>
                <hr/>
                <div class="row">
                    {% for movie in screeningDay.screenedMovies %}
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h5 class="card-title">{{ movie.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ movie.director.firstName }} {{ movie.director.name }}
                                        | {{ movie.duration }} min</h6>
                                    <p class="card-text">{{ movie.synopsis }}</p>
                                    <p class="card-text">
                                        {% for category in movie.categories %}
                                            <span class="badge badge-green">{{ category.name }}</span>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </main>

    {% include"website/footer.html.twig" %}
{% endblock %}