{% extends "admin/adminLayout.html.twig" %}

{% block main %}
    <div class="row mt-4">
        <div class="col-12 mb-4 text-center">
            <a href="#" class="btn btn-success btn-lg" tabindex="-1" role="button">
                Créer un festival
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card shadow-sm border-0">
                <h2 class="card-header text-center text-title text-white bg-primary">Festival {{ festival.name }}</h2>
                <div class="card-body">
                    <h3 class="card-title text">Agenda</h3>
                    {% if edit %}
                        {{ form_start(festivalForm) }}
                    {% endif %}
                    <ul class="m-0">
                        <li>
                            <strong>Ouverture des inscriptions :</strong><br/>
                            {% if not edit %}
                                <div class="my-1">
                                    {{ festival.registrationStartDate|localizeddate("none", "none", null, null, "dd MMMM y") }}
                                </div>
                            {% else %}
                                {{ form_widget(festivalForm.registrationStartDate) }}
                            {% endif %}
                        </li>
                        <li>
                            <strong>Fermeture des inscriptions :</strong><br/>
                            {% if not edit %}
                                <div class="my-1">
                                    {{ festival.registrationEndDate|localizeddate("none", "none", null, null, "dd MMMM y") }}
                                </div>
                            {% else %}
                                {{ form_widget(festivalForm.registrationEndDate) }}
                            {% endif %}
                        </li>
                        <li class="mt-3">
                            <strong>Festival :</strong>
                        </li>
                        <ul>
                            {% for screeningDay in festival.screeningDays %}
                                <li>{{ screeningDay.date|localizeddate("none", "none", null, null, "dd MMMM y") }}</li>
                            {% endfor %}
                        </ul>
                    </ul>
                    {% if edit %}
                        {{ form_end(festivalForm) }}
                    {% endif %}
                    <p class="card-text">
                        <a class="btn btn-secondary" href="{{ path("festivalManagement", {"edit": "1"}) }}">
                            <span class="oi oi-pencil" title="Modifier" aria-hidden="true"></span>
                            Édition
                        </a>
                    </p>


                </div>
                <hr class="m-0"/>
                <div class="card-body">
                    <h3 class="card-title">Récompenses</h3>
                    <p class="card-text text-muted"><em>Pas de récompenses décernées</em></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}