{% extends "layout.html.twig" %}

{% block nav %}
    <nav role="navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand py-1" href="{{ path("admin") }}" tabindex="1">
            <img src="{{ asset("svg/ffem.svg") }}" height="32" class="mr-3"/>ADMINISTRATION
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="navbar-brand">{{ user.email }}</span>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-danger" href="{{ path("logout") }}">Déconnexion</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block message %}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>

                    {#<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>#}
                </div>
            </nav>

            <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h2>Liste des courts-métrages inscrits</h2>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Share</button>
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>
                <div class="card border-primary mb-4">
                    <h5 class="card-header text-primary">Films en cours d'inscription</h5>
                    <div class="card-body p-1">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Titre</th>
                                    <th>Réalisateur</th>
                                    <th>Genre</th>
                                    <th>Lien</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for movie in movies %}
                                    <tr>
                                        <td>{{ movie.id }}</td>
                                        <td><a href="{{ path("movieDetails", {"movieId": movie.id}) }}">{{ movie.title }}</a></td>
                                        <td>{{ movie.director.firstName }} {{ movie.director.name }}</td>
                                        <td>{% for category in movie.categories %}
                                                <span class="badge badge-secondary">{{ category.name }}</span>
                                            {% endfor %}</td>
                                        <td><a href="{{ movie.link }}">{{ movie.link }}</a></td>
                                        <td><a href="#">
                                                <span class="oi oi-plus" title="more" aria-hidden="true"></span>
                                            </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card border-success mb-4">
                    <h5 class="card-header text-success">Films retenus</h5>
                    <div class="card-body">
                    </div>
                </div>

                <div class="card border-danger mb-4">
                    <h5 class="card-header text-danger">Films éliminés</h5>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}