<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {#<meta name="description" content=""/> TODO #}
    {#<meta name="author" content=""/> TODO#}
    {#<link rel="icon" href=""> TODO #}

    <meta property="og:url" content="https://metz-filmfest.fr"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Festival du Film Étudiant de Metz"/>
    <meta property="og:description"
          content="Le Festival a pour principaux objectifs de faire découvrir de jeunes talents messins et de leur proposer un espace de diffusion artistique de qualité."/>
    <meta property="og:image" content="https://metz-filmfest.fr/website_poster.png"/>
    <meta name="twitter:card" content="summary_large_image"/>

    <title>{% block title %}Festival du film étudiant de Metz{% endblock %}</title>

    <link href="{{ asset("build/css/app.css") }}" rel="stylesheet">
    <link href="{{ asset("build/css/oi.css") }}" rel="stylesheet">
    {% block stylesheet %}{% endblock %}

    {# Cookies consent #}
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#000"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-right",
                "content": {
                    "message": "En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies pour améliorer le fonctionnement du site.",
                    "dismiss": "Compris !",
                    "link": "En savoir plus sur les cookies",
                    "href": "http://fr.webedia-group.com/cookies"
                }
            })
        });
    </script>

</head>

<body>
<header>
    <!-- Fixed navbar -->
    {% block nav %}
    <nav role="navigation" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand py-1" href="{{ path("homepage") }}" tabindex="1">
            <img src="{{ asset("svg/ffem.svg") }}" height="32"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://goo.gl/forms/t8FS9NQ710Cc6ixH3" tabindex="2">Participer au
                        festival</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" tabindex="3" data-toggle="popover"
                       data-trigger="focus" data-placement="bottom" data-content="Bientôt disponible">Programmation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" tabindex="4" data-toggle="popover"
                       data-trigger="focus" data-placement="bottom" data-content="Bientôt disponible">Infos
                        Pratiques</a>
                </li>
                {#<li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" tabindex="5" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="Bientôt disponible">Anciennes éditions</a>
                </li>#}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/metzfilmfest/" tabindex="5">
                        <img src="{{ asset("svg/facebook-letter-logo.svg") }}" class="icon-lg"/>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
</header>

<main role="main">
    {% block message %}
    <div class="container-fluid bg-info text-white px-2 py-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="d-none d-sm-block col-sm-1 text-right">
                    <span class="oi oi-info" title="Info" aria-hidden="true"></span>
                </div>
                <div class="col-xs-12 col-sm-11 text-justify">
                            <span class="d-none d-sm-block">Le site est actuellement en <strong>travaux</strong>, toutes les fonctionalitées ne sont
                            pas encore disponibles. Mais pas d'inquiétude, vous pouvez toujours vous inscrire pour le
                            festival. Pour plus d'informations, n'hésitez pas à aller consulter
                            <a href="https://www.facebook.com/metzfilmfest/" class="text-light under"><u>la page Facebook</u></a> du festival.</span>
                    <span class="d-block d-sm-none">Le site est actuellement en <strong>travaux</strong>. Mais pas d'inquiétude, vous pouvez toujours vous inscrire pour le
                            festival.</span>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block body %}{% endblock %}
</main>

{% block footer %}
<footer class="footer">
    <div class="container text-center py-3">
        <span class="text-muted">Version 2.0.5-beta &copy; Ellipse {{ "now"|date("Y") }} <a
                    href="{{ path("legalNotices") }}" class="text-nowrap">Mentions légales</a><br/>Hébergement par <a
                    href="https://www.ovh.com/fr/">OVH</a>. Réalisé avec <a
                    href="https://symfony.com/">Symfony</a> et <a href="https://getbootstrap.com/">Bootstrap</a>. Icones par <a
                    href="https://useiconic.com/open">Open Iconic</a>. Retrouver ce site web sur <a
                    href="https://github.com/elyos41/metz-filmfest">GitHub</a></span>
    </div>
</footer>
{% endblock %}

<script src="{{ asset("build/js/app.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>